.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: 35px;
  border: none;


  &--primary {
    background-color: #08A6E4;
    border-radius: 35px;
    box-shadow: 3px 10px 14px rgba(7, 172, 230, .16);
  }

  &--redish {
    background-color: #FB3B64;
  }

  &--green {
    background-color: #55DFB4;
  }

  &--large {
    padding: 22px 155px;
  }
}